<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Listener Test">
	
<listeners>
    <listener class-name="extentReports.ExtentListener" ></listener>
</listeners>
	
	
	
  <test thread-count="5" name="CustomerEnrollment">
    <classes>
      <class name="Enrollments.NewCustomer"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
